.chat-toggle{
position:fixed;
bottom:30px;
left:30px;
width:65px;
height:65px;
border:none;
border-radius:50%;
background:#0284c7;
color:white;
font-size:28px;
cursor:pointer;
z-index:9999;
}

.chat-window{
position:fixed;
bottom:110px;
left:30px;
width:330px;
height:450px;
background:white;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
display:none;
flex-direction:column;
overflow:hidden;
z-index:9999;
}

.chat-window.show{
display:flex;
}

.chat-header{
background:#0284c7;
color:white;
padding:15px;
font-size:18px;
font-weight:600;
}

.chat-body{
flex:1;
padding:15px;
overflow-y:auto;
}

.user{
background:#0284c7;
color:white;
padding:10px;
border-radius:15px;
margin:10px 0;
text-align:right;
}

.bot{
background:#f1f5f9;
padding:10px;
border-radius:15px;
margin:10px 0;
}

.chat-input{
display:flex;
padding:10px;
border-top:1px solid #ddd;
}

.chat-input input{
flex:1;
padding:10px;
outline:none;
}

.chat-input button{
width:50px;
border:none;
background:#0284c7;
color:white;
}