.floating-buttons{
  position: fixed;
  right: 25px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 9999;
}

.whatsapp-btn,
.call-btn{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 28px;
  box-shadow: 0 8px 25px rgba(0,0,0,.2);
  transition: .3s;
}

.whatsapp-btn{
  background: #25D366;
}

.call-btn{
  background: #0284c7;
}

.whatsapp-btn:hover,
.call-btn:hover{
  transform: scale(1.1);
}